/* Footer Section Styles */
.footer {
    background: rgba(31, 31, 31, 0.9);
    width: 100vw;
    text-align: center;
    justify-content: center; /* Center the content horizontally */
    align-items: center;
    box-sizing: border-box;
    box-shadow: 0 -4px 6px rgba(0, 0, 0, 0.1);
    display: flex;
    padding: 10px 20px;
  }
  
  .footerContent {
    max-width: 1200px;
    margin: 0 auto;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center; /* Center the content vertically */
  }
  
  .footer p {
    margin: 0;
    padding: 10px 0;
    font-size: 1rem;
  }
  
  .footerMenu {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 20px; /* Add space between the links */
    padding: 10px 0;
    margin: 0;
  }
  
  .footerMenu a {
    color: white;
    text-decoration: none;
    transition: color 0.3s ease;
  }
  
  .footerMenu a:hover {
    color: #f8f442;
  }
  
  @media (max-width: 768px) {
    .footerMenu {
      flex-direction: column;
      gap: 10px;
    }
  }